executor {
  name = 'slurm'
  queue = 'sadacc-long'
  queueSize = 64
}

params {
  pedmap_dir = '/scratch/eshkev001/projects/mgen/pedmap/'
  ped = '/scratch/eshkev001/projects/mgen/ghana_pfsa4_Pf3D7_04_v3_1090896-1148289.ped'
  map = '/scratch/eshkev001/projects/mgen/ghana_pfsa4_Pf3D7_04_v3_1090896-1148289.map'
  vcf_dir = '/scratch/eshkev001/projects/mgen/vcf/'
  output_dir = '/scratch/eshkev001/projects/mgen/'
  maf = 0.01
  mind = 0.10
  geno = 0.10
  min_ibdsegment_length = 50000
  min_snps_persegment = 20
  threads = 11
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/scratch/eshkev001/containers/'
}

process {

  errorStrategy = { task.exitStatus in [1,2,3,4,5,6,126,127,134,135,136,137,139,140,143,245,247,249,250,255] ? 'retry' : 'terminate' }
  maxErrors = '-1'
  maxRetries = 3

  clusterOptions = {
    "--account humgen \
    --partition sadacc-long"
  }

  withLabel: 'isorelate' {
    cpus = { params.threads }
    memory = 50.GB
    time = { 15.h }
  }

  withLabel: 'rbase' {
    container = 'docker://sickleinafrica/rbase-rehh:latest'
  }
}
